html {
    height: 100%;
    width: 100%;
  }
  header{
    padding:0;
    margin-top:0;
    background: #157062
  }
  header h1{
    margin-top:0px;
    display:block;
    text-align: center;
    color:#6DBD40;
    font-size: 50px;
  }

.topnav{
    overflow:auto;
    background-color: #2DBDA5;
    width: 100%;
}

.topnav a {
    float:left;
    padding: 10px;
    color:#1B5070;
    text-align:center;
    text-decoration: none;
    font-size: 18px;
    width: 22%;
    text-align:center;
}

.topnav a.active{
    background-color: #45702C;
}

.topnav a:hover {
    background-color: grey;
    font-size: 26px;

}

.topnav a:visited {
    color:#f90b0b;
}


  
  body{
    margin: 0;
    padding: 0;
    color: #000000;
    background-color:#BD3638;
    font:georgia, sans-serif;
    line-height:1.9;
  }
  
  body h2{
    text-align: center;
    font-size:50px;
  }
  body h3{
    text-align:center;
    font-size:40px;
    
  }
  
  
  p{
    margin-top:0;
    text-align: justify;
    font: georgia, sans-serif;
    color: rgb(0,0,0);
  }
  main {
    width:90%;
    margin: 0 auto;
  }
  
  #text1{
    width:40%;
    float:left;
  }
  #img1{
    width:50%;
    float:right;
  }
  #img2{
    width:50%;
    float:left;
  }
  #text2{
    width:40%;
    float:right;
  }
  #text3{
    width:75%
  }
  
  section{
    clear:both;
  }
  .center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
  }
  img {
    width:75%;
    height:75%;
    align-items:center;
  }
  ol li{
    font-size: 25px;

  }
  
  ul li{
    display:inline-block;
    width:33%;
  }

  button{
    background-color: #45702C;
    font-size:50px;
    color:white;
    align-items: center;
    text-align: center;
    object-position: center;
  }

  footer{
    padding:0px;
    background-color: #157062;
    width: 100%;
    overflow:hidden;

  }
  footer p{
    text-align:center;
    color:#36FFF2;
  }